<html>
  <head>
    <title>게시글 목록</title>
    <!-- Minified version -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    <div class="container">
      <h1>게시판 목록</h1>
      <figure>
        <table>
          <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>작성자</th>
              <th>날짜</th>
              <th>조회수</th>
            </tr>
          </thead>
          <tbody>
            <% posts.forEach(item => { %>
            <tr>
              <td><%=item.id%></td>
              <td><a href="/view/<%=item['id']%>"><%=item.title%></a></td>
              <td><%=item.author%></td>
              <td><%=item.createdAt%></td>
              <td><%=item.count%></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <p></p>
        <div>
          <% if (currentPage > 1 ) {%>
          <a href="/list?page=<%=currentPage - 1%>">이전</a>
          <% } %> <% for (let i = 1; i <= totalPage ; i++) {%>
          <a href="/list?page=<%=i%>"><%=i%></a>
          <% } %> <% if (currentPage < totalPage) {%>
          <a href="/list?page=<%=currentPage + 1%>">다음</a>
          <% } %>
        </div>
        <a class="button" href="/create">글쓰기</a>
      </figure>
    </div>
  </body>
</html>
